@font-face {
  font-family: LatoRegular;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoThin;
  src: url(fonts/Lato-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

/* #181820*/
